<%- //include('../partials/header') %>

  <form id="new-form" action="/flights/new" method="POST">
    <label>Airline (select one):
      <select name="airline">
        <option value="American Airlines">American Airlines</option>
        <option value="Delta Airlines">Delta Airlines</option>
        <option value="Southwest Airlines">Southwest Airlines</option>
        <option value="Spirit Airlines">Spirit Airlines</option>
        <option value="United Airlines">United Airlines</option>
      </select>
    </label><br><br><br><br><br><br><br>
    
    <label>Flight No (3 digits):</label>
    <input type="text" name="flightNo">
    <br>
    <label>Origin:</label>
      <select name="origin">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SFO">SFO</option>
      </select>
      
    <label>Departure Date:
      <input type="datetime-local" id="departure-date" name="departs"
              name="departure-date" value="2020-02-12T19:30"
              min="2019-01-01T00:00" max="2020-12-31T00:00">
    </label><br>
    <label>In Air:
      <input type="checkbox" name="onAir" checked>
    </label><br>
    <input type="submit" value="Add Flight">
  </form>

  