<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Add Flight</title>
</head>
<body> -->

  <form id="new-form" action="/flights" method="POST">
    <label>Airline (select one):
      <select name="airline">
        <option value="American Airlines">American Airlines</option>
        <option value="Delta Airlines">Delta Airlines</option>
        <option value="Southwest Airlines">Southwest Airlines</option>
        <option value="Spirit Airlines">Spirit Airlines</option>
        <option value="United Airlines">United Airlines</option>
      </select>
    </label><br><br><br><br><br><br><br>
    <label>Flight No:</label>
    <input type="text" name="flightNo">
    <label>Departure Date:
      <input type="datetime-local" id="departure-date" name="departs"
              name="departure-date" value="2020-02-12T19:30"
              min="2019-01-01T00:00" max="2020-12-31T00:00">
    </label><br>
    <label>On Air:
      <input type="checkbox" name="onAir" checked>
    </label><br>
    <input type="submit" value="Add Flight">
  </form>

  <!-- <h2>Enter a New Flight: </h2>
  <form action="/flights" method="POST">
    <label>Airline (select one):
      <select name="airline">
        <option value="American Airlines">American Airlines</option>
        <option value="Delta Airlines">Delta Airlines</option>
        <option value="Southwest Airlines">Southwest Airlines</option>
        <option value="Spirit Airlines">Spirit Airlines</option>
        <option value="United Airlines">United Airlines</option>
      </select>
    </label><br><br>
    <label>Flight No:
      <input type="text" name="flightNo">
    </label><br>
    <label>Departure Date:
      <input type="datetime-local" id="departure-date" name="departs"
              name="departure-date" value="2020-02-12T19:30"
              min="2020-01-01T00:00" max="2020-12-31T00:00">
    </label><br>
    <label>On Air:
      <input type="checkbox" name="onAir" checked>
    </label><br>
    <input type="submit" value="Add flight">
  </form>
  <a href="/flights">All Flights</a>
</body>
</html> -->